/* general */
@import url("https://fonts.cdnfonts.com/css/dana");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'dana', sans-serif;
  /* just for a */
  text-decoration: none;
  /* cursor: none; */
}

:root {
  --primary--color--: #1E4FDB;
  --secondary--color--: #08236B;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--primary--color--);
  border: none;
  border-radius: 30px;
  transition: 0.6s;
}

.active {
  color: blue !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
  cursor: pointer;
}

/* remove default scrollvar */
::-webkit-scrollbar {
  width: 0;
}

html {
  scrollbar-width: none;
}

/* style horizontal scrollbar */
.scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg,
      #2563eb,
      #06b6d4,
      #22c55e);
  z-index: 9999;
  box-shadow: 0 0 10px rgba(37, 99, 235, .5);
}

/* sticky nav*/
/* header {
  position: relative;
}

.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100% !important;
  z-index: 55;
  margin: 0;
  background: rgba(31, 34, 228, 0.521);
  backdrop-filter: blur(15px);
} */

/* hover on nav links */
/* .navbar ul li a {
  transition: opacity 0.6s;
} */


/* mouse cursor */
/* .cursor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 1.9px solid var(--primary--color--);
  border-radius: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
} */

/* hover on links and ... */
/* .cursor-container.active {
  width: 55px;
  height: 55px;
}

.cursor {
  width: 12px;
  height: 12px;
  background-color: #06b6d4;
  border: none;
  border-radius: 100%;
  pointer-events: none;
  z-index: 9999;
}
 */


/* top header */

header {
  padding: 28px 0px 0px 0px;
  background-image: url("../Images/header\ background\ img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 35dvw;
  min-height: 51vh;
}

.top-header-content {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 0px 22px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border-radius: 8px;
}

.top-header-logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
  max-width: 150px;
}

.top-header-logo img {
  width: 100%;
}

.top-header-nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
}

.top-header-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 40px;
}

.top-header-nav ul li a {
  color: white;
}

.top-header-get-start {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
}

.top-header-get-start button {
  padding: 11px 22px;
  gap: 4px;

}

.top-header-get-start button:hover {
  background-color: #12379a;
}


/* bottom header */

.bottom-header-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1450px;
  padding: 100px 0px 0px;
  align-items: start;
  margin: 0 auto;
  z-index: 55;
}

.bottom-header-content-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 60px;
  /* justify-content: left; */
  align-items: end;

}

.bottom-header-content-right-up {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0px 0px;
}

.bottom-header-content-right-up div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bottom-header-content-right-up div h1 {
  width: 320px;
  color: white;
  font-size: 35px;
}

.bottom-header-content-right-up div p {
  color: #f1f5f9;
  text-align: right;
  width: 310px;
  line-height: 28px;
}

.bottom-header-content-right-up div:nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.bottom-header-content-right-up div button {
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
}

.bottom-header-content-right-up div button.btn-services {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #f1f5f9;
}

.bottom-header-content-right-up div button:hover {
  background-color: #12379A;
}

/* arrow Icon */
.ri-arrow-left-s-line {
  place-content: center;
}

.bottom-header-content-right-up div h4 a {
  color: var(--secondary--color--);
  transition: 0.6s;
  padding: 7px 20px;
  border: 1px solid var(--primary--color--);
  border-radius: 30px;
}

.bottom-header-content-right-up div h4 a:hover {
  color: white;
  background-color: var(--primary--color--);
  padding: 7px 20px;
  border: none;
  border-radius: 30px;
}


/* first-section */
.first-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 30px 0px;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  gap: 25px;
}

.first-section-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first-section-up h5 {
  color: #64748b;
  font-size: 15px;
}

.slider-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 70px;
  box-shadow: 0px 0px 15px #d8d9db4f;
  border: none;
  border-radius: 15px;
}

.slider {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 25px 50px 20px;
}

.track {
  display: flex;
  width: 100%;
  animation: scroll 5s linear infinite;
}

.slide {
  display: flex;
  align-items: center;
  position: absolute;
  width: 20%;
  left: 0;
  top: 17%;
  bottom: 0;
  /* craet animation */
  transition: transform 1s;
}


.slide div {
  display: flex;
  width: 100%;
  height: 100%;
}

.slide div p {
  text-align: start;
  width: 100%;
  font-size: 19px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media(max-width:1200px) {
  .first-section {
    padding-left: 0px;
  }

  .slider-container {
    padding-left: 0px;
  }

  .bottom-header-content-right-down {
    padding-right: 0px;
  }

  .bottom-header-content-right-down ul {
    gap: 20px;
  }

  .bottom-header-content-right-down ul li div p {
    font-size: 14px;
  }
}

@media(max-width:992px) {
  .slide {
    width: 25%;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-125%);
    }
  }
}




/* second section */
.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
}

.second-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.second-section-content:nth-child(1) {
  flex-direction: column;
  padding: 0px 0px 25px;
}

.second-section-content:nth-child(2) {
  flex-direction: row;
  gap: 25px;
  min-height: 300px;
}

.second-section-content h2 {
  color: #0d1424;
  font-size: 35px;
  margin-bottom: 5px;
}

.second-section-content p {
  color: #64748b;
  font-size: 16px;
  font-weight: bold;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 15px #d1d5da96;
  border: none;
  border-radius: 35px;
  padding: 32px 24px 15px;
  height: 300px !important;
  width: 25%;
  gap: 15px;
}

.steps div {
  display: flex;
  height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  gap: 5px;
}

.steps div i {
  color: #3b82f6;
}

.steps div:nth-child(1) i {
  font-size: 30px;
  background-color: #93b7e75e;
  padding: 10px 15px;
  border: none;
  border-radius: 100%;
}

.steps div h3 {
  color: #0f1729e5;
}

.dis p {
  font-size: 14px;
  font-weight: 400;
  width: 95%;
}

.dis a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #0d1424e8;
  font-size: 15px;
}


/* third section */
.third-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 30px 35px;
}

.third-section-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  background-color: #2563eb;
  padding: 25px 35px 22px;
  border: none;
  border-radius: 18px;
}

.third-section-content ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  width: 100%;
}

.third-section-content ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.third-section-content ul li div h3 {
  font-size: 32px;
  color: white;
}

.third-section-content ul li div p {
  color: #B4BDD2;
  font-size: 13px;
}



/* fourth section */
.fourth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px 60px;
}

.fourth-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.operations__tab-container {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: center;
  gap: 15px;
}

.operations__tab {
  padding: 10px 20px 8px;
  color: #0f151f;
  font-size: 15px;
  border: none;
  border-radius: 12px;
  transition: 0.6s;
}

.operations__tab--active {
  background-color: #12379a;
  color: white;
  transform: translateY(-4px);
}

.operations__content {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  gap: 20px;
}

.operations__content--active {
  display: flex;
}

.fourth-section-content:nth-child(1) {
  flex-direction: column;
  padding: 0px 0px 35px;
  width: 100%;
}

.fourth-section-content:nth-child(2) {
  flex-direction: row;
  gap: 25px;
  min-height: 300px;
}

.fourth-section-content h2 {
  color: #0d1424;
  font-size: 35px;
  margin-bottom: 5px;
}

.fourth-section-content p {
  color: #64748b;
  font-size: 16px;
  font-weight: bold;
}

.steps-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 25px;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 15px #d1d5da96;
  border: none;
  border-radius: 20px;
  padding: 32px 24px 0px;
  height: 230px !important;
  width: 33%;
  gap: 5px;
}

.steps2 {
  width: 50%;
}

.steps1 {
  width: 337px;
}

.steps div {
  display: flex;
  height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  gap: 5px;
}

.steps div i {
  color: #3b82f6;
}

.steps div:nth-child(1) i {
  font-size: 30px;
  background-color: #93b7e75e;
  padding: 10px 15px;
  border: none;
  border-radius: 100%;
}

.steps div h3 {
  color: #0f1729e5;
  font-size: 20px;
  padding-top: 7px;
}

.dis div {
  display: flex;
  flex-direction: row;
}

.dis p {
  font-size: 16px;
  font-weight: 500;
  color: #64748b;
}




/* fifth section */
.fifth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
}

.fifth-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.fifth-section-content:nth-child(1) {
  flex-direction: column;
  padding: 0px 0px 35px;
}

.fifth-section-content:nth-child(2) {
  flex-direction: row;
  gap: 25px;
  width: 100%;
}

.fifth-section-content h2 {
  color: #0d1424;
  font-size: 35px;
  margin-bottom: 5px;
}

.fifth-section-content p {
  color: #64748b;
  font-size: 16px;
  font-weight: bold;
}

.fifth-section-content .steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 15px #d1d5da96;
  border: none;
  border-radius: 35px;
  padding: 0px;
  height: 400px !important;
  width: 32%;
  gap: 20px;
  overflow: hidden;
}

.fifth-section-content:nth-child(3) {
  padding: 50px 0px 10px;
}

.fifth-section-content button {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #2563eb;
  border: none;
  padding: 15px 30px;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

.steps img {
  width: 100%;
  height: 100%;
  max-height: 100%;
}



/* sixth section */
.sixth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 30px;
  padding: 0px 0px 20px;
}

.sixth-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 25px;
}

.sixth-section-content h2 {
  color: #0d1424;
  font-size: 35px;
  margin-bottom: 5px;
}

.sixth-section-content p {
  color: #64748b;
  font-size: 16px;
  font-weight: bold;
}

.teammate-contaimer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  width: 100%;
  max-width: 1200px;
  padding: 0px 0px 30px;
}

.teammate-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  border: none;
  border-radius: 25px;
  width: 32%;
  max-height: 400px;
  box-shadow: 0px 0px 15px #d1d5da96;
  padding: 0px 0px 15px;
}

.img-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60%;
}

.img-container img {
  width: 100%;
  border-radius: 25px;
}

.dis-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40%;
  padding: 0px 15px;
}

.dis-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dis-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dis-container h2 {
  font-size: 18px;
  color: #1e293b;
  text-align: center;
}

.dis-container h3 {
  color: #64748b;
  padding-bottom: 15px;
  font-size: 15px;
  text-align: center;
}

.dis-container a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #1e293b;
  gap: 5px;
}

.dis-container a i {
  color: #1558e9;
}

.btn-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  max-width: 1200px;
  justify-content: center;
}

.btn-container button {
  padding: 12px 23px 9px;
  border: none;
  border-radius: 10px;
  background-color: #2864e6;
  color: white;
  cursor: pointer;

}